.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 35px 0;
}

.header a {
    text-decoration: none;
}

.search-form {
    display: flex;
    justify-content: space-between;
    padding-left: 15px
}

.logout-block {
    display: flex;
}

.user-mail {
    padding: 13px 10px;
}

.search-btn {
    background: #2065e7;
}

.search-result {
    border: 2px solid #dddcdc;
    border-radius: 20px;
    width: 25%;
    padding: 10px;
    margin: 20px 10px;
}

.logo {
    color: #2065e7;
}

.item-list-ul {
    display: flex;
}

.item-list-ul ul{
    margin: 0 5px;
}

.item {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 40%;
}

.country-name {
    margin-left: 10px;
}

.temperature {
    margin: 0 0 15px 15px;
}

.current-temperature {
    color: #2065e7;
}

.form-block {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 8px;
}